{% extends '::base.html.twig' %}

{% block body %}

    <div>
        <form action="{{ path('list') }}" method="get">
            <label for="filter">Filter</label>
            <input name="filter" type="text">
            <button type="submit" class="btn btn-default btn-sm">Filter Now</button>
        </form>
    </div>

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-sm-1">{{ knp_pagination_sortable(blog_posts, 'id', 'bp.id') }}</th>
                <th class="col-sm-9 {% if blog_posts.isSorted('bp.title') %}sorted{% endif %}">{{ knp_pagination_sortable(blog_posts, 'Title', 'bp.title') }}</th>
                <th class="col-sm-2">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for post in blog_posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>
                    <a href="{{ path('edit', { 'blogPost': post.id }) }}" class="btn btn-default btn-sm">Edit</a>
                    <a href="{{ path('delete', { 'blogPost': post.id }) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(blog_posts) }}
    </div>

{% endblock %}